---
// Explicitly enable static rendering (prerender)
export const prerender = true;

import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Home from '../components/Home.astro';
import Information from '../components/Information.astro';
import Assist from '../components/Assist';
import Gifts from '../components/Gifts';
import Messages from '../components/Messages';
import Footer from '../components/Footer.astro';
---

<Layout title="Baby Shower Emily">
  <Navbar client:load />
  <main class="min-h-screen pt-16">
    <Home />
    <Information />
    <Assist client:load />
    <Gifts client:load />
    <Messages client:load />
  </main>
  <Footer />
</Layout>

