---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero.astro';
import EventInfo from '../components/EventInfo.astro';
import RSVP from '../components/RSVP';
import Regalos from '../components/Regalos';
import Mensajes from '../components/Mensajes';
import Footer from '../components/Footer.astro';
---

<Layout title="Baby Shower Emily">
  <Navbar client:load />
  <main class="min-h-screen pt-16">
    <Hero />
    <EventInfo />
    <RSVP client:load />
    <Regalos client:load />
    <Mensajes client:load />
  </main>
  <Footer />
</Layout>

